$black: #22292f;
$light: #f1f5f8;

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  font-family: "Overpass Mono";

  width: 100vw;
  min-height: 100vh;

  background: $light;
  color: $black;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background: linear-gradient(
      to bottom,
      rgba(white, 1) 40%,
      rgba(white, 0) 90%
    );
    z-index: 10;
  }
}

h1 {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 24pt;
  letter-spacing: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;

  svg {
    margin-right: 25px;
  }
}

input {
  padding: 0px;
  font-family: "Overpass Mono";
  display: inline;
}

input[type="text"] {
  text-align: center;
  font-size: 150%;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #000;
}

form {
  text-align: center;
  font-size: 100%;
  background-color: #fff;
}

.page {
  position: relative;
  width: 600px;
  padding: 50px;
  margin-top: 200px;

  font-size: 11pt;
  font-weight: 700;
  line-height: 2.2em;

  background: white;
  border-radius: 10px;
  box-shadow: 0 0 80px 0px rgba(black, 0.1);

  &::after {
    // content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75vh;
    background: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 80px 0px rgba(black, 0.1);

    z-index: 1;
  }

  p {
    position: relative;
    z-index: 9;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 300px;
      // background: linear-gradient(
      //   to bottom,
      //   rgba(white, 1) 5%,
      //   rgba(white, 0) 90%
      // );
    }
  }
}

.entry {
  /*
  border-bottom-style: solid;
  border-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #000;
  */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
