@import "loading";

$black: #22292f;
$light: #f1f5f8;

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: absolute;
  top: 0;

  font-family: "Overpass Mono";

  width: 100vw;
  min-height: 100vh;

  background: $light;
  color: $black;

  opacity: 1;
  visibility: visible;
  transition: 0.2s all ease;

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    background: linear-gradient(
      to bottom,
      rgba(white, 1) 40%,
      rgba(white, 0) 100%
    );
    z-index: 10;
  }
}

h1 {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 24pt;
  letter-spacing: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;

  svg {
    margin-right: 25px;
  }
}

.entry {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;

  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

  &.shake {
    animation: shake 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .border {
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 3px;
    width: 19em;
    border-radius: 50%;

    background: $black;
    z-index: 100;

    transition: 0.1s ease width;
  }
}

.entry input {
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.1em;
  background: white;

  text-align: center;
  font-size: 19pt;
}

form {
  text-align: center;
  font-size: 100%;
  background-color: #fff;
  margin-top: 30px;
}

.page {
  position: relative;
  max-width: 600px;
  width: 90vw;
  margin: auto;
  padding: 50px;
  margin-top: 220px;

  font-size: 11pt;
  font-weight: 700;
  line-height: 2.2em;

  background: white;
  border-radius: 10px;
  box-shadow: 0 0 80px 0px rgba(black, 0.1);

  p {
    position: relative;
    z-index: 9;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.suggestion {
  position: relative;
  margin: 20px auto;
  max-width: 600px;
  width: 90vw;

  padding: 30px;

  background: #dae1e7;
  border-radius: 10px;
  // box-shadow: 0 0 80px 0px rgba(black, 0.1);
  overflow: hidden;

  h2 {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
  }

  ul {
    list-style-type: none;
    margin-top: 20px;
    white-space: nowrap;
    min-height: 41px;
  }

  li {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 999px;
    background: $black;
    color: white;
    font-size: 10pt;
    font-weight: 700;
    opacity: 0.9;
    transition: 0.2s ease opacity;
    cursor: pointer;
    box-shadow: 0 0 40px 0px rgba(black, 0.4);

    &:hover {
      opacity: 1;
    }
  }
}

.notification {
  position: relative;
  background: $black;
  color: white;

  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 999px;
  padding: 15px 50px 15px 85px;
  font-weight: 700;
  font-size: 11pt;
  text-transform: uppercase;
  letter-spacing: 4px;

  box-shadow: 0 0 40px 0px rgba(black, 0.4);
  visibility: hidden;
  opacity: 0;

  transition: 0.5s ease visibility;
  transition: 0.5s ease opacity;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .la-ball-8bits {
    position: absolute;
    top: 19px;
    left: 50px;
    transform: scale(0.7);
  }
}

#suggestionList {
  opacity: 1;
  transition: 0.2s ease opacity;

  &.hide {
    opacity: 0;
  }
}
